/* :root {
	--whiteIcon: #C16815;
	--white1: #FFEAC5;
	--white2: #FFDBB5;
	--black0: #2b1909;
	--black1: #6C4E31;
	--black2: #603F26;
} */

BODY {
	background-image: url("/img/amai-buzzwatch.jpg");
}

#basic {
    background-color: #e2b8218b;
}

#login_block form {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#login_block form div{
    margin-top: 30px;
    border-radius: 5px;
    transition: all 300ms ease-out;
}

#login_block {
    padding-bottom: 30px;
}

.info_section {
    /* min-height: calc(100vh - 180px); */
    justify-content: center;
}

.form_field {
    background-color: var(--black1);
    padding: 20px;
}

.form_field:hover {
    transform: scale(1.01);
}

.form_field input, .form_field select {
    background-color: var(--black0);
    color: var(--white1);
    border: 0;
    float: right;
    margin-left: 20px;
    padding: 5px;
    outline: none;
}

.form_field input:focus, .form_field select:focus {
    background-color: var(--black2);
}

.form_button {
    display: flex;
    justify-content: center;
}

.form_button button {
    background-color: var(--whiteIcon);
    color: var(--white2);
    outline: none;
    border: 0;
    border-radius: 5px;
    font-size: large;
    padding: 10px 10%;
    transition: all 250ms ease-out;
}

.form_button button:hover {
    background-color: #e2b821;
    padding: 10px 15%;
    cursor: pointer;
}

.dramatical_link {
    background-color: rgb(165, 42, 42);
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    color: var(--white2);
    padding: 10px 5%;
    transition: all 250ms ease-out;
    margin-top: 30px;
}

.dramatical_link:hover {
    background-color: rgb(106, 29, 29);
    cursor: pointer;
    padding: 10px 4%;
}