<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Реєстрація</title>
	<link rel="stylesheet" th:href="@{/css/global.css}" type='text/css'>
    <link rel="stylesheet" th:href="@{/css/forms.css}" type='text/css'>
</head>
    <body>
        <nav class="top_bar" th:replace="~{fragments/layout :: header(label='Реєстрація')}">
        </nav>
        <div id="basic">
            <div class="info_section">
                <div class="info_block" id="login_block">    
                    <form method="post" autocomplete="off" id="customForm" th:object="${customForm}">
                        <div class="form_field">
                            <label for="username">
                                Ім'я користувача (псевдонім):
                            </label>
                            <input type="text" th:field="*{username}" placeholder="Псевдо"/>
                            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                        </div>
                        <div class="form_field">
                            <label for="name">
                                Ім'я:
                            </label>
                            <input type="text" th:field="*{name}" placeholder="Ім'я"/>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                        <div class="form_field">
                            <label for="surname">
                               Прізвище:
                            </label>
                            <input type="text" th:field="*{surname}" placeholder="Прізвище"/>
                            <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></p>
                        </div>
                        <div class="form_field">
                            <label for="password">
                               Пароль:
                            </label>
                            <input type="password" th:field="*{password}" placeholder="Пароль"/>
                            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                        </div>
                        <div class="form_field">
                            <label for="password2">
                               Пароль (ще раз):
                            </label>
                            <input type="password" th:field="*{password2}" placeholder="Пароль (ще раз)"/>
                            <p th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></p>
                        </div>
                        <div class="form_field">
                            <label for="position">
                                Оберіть поточний статус:
                            </label>
                            <select th:field="*{status}">
                                <option value="STUDENT">
                                    Студент
                                </option>
                                <option value="TEACHER">
                                    Викладач
                                </option>
                                <option value="SCIENTIST">
                                    Науковець
                                </option>
                                <option value="READER">
                                    Читач
                                </option>
                                <option value="ETC">
                                    Інше
                                </option>
                            </select>
                        </div>
                        <div class="form_button">
                            <button type="submit">
                                Зареєструватися
                            </button>
                        </div>
                    </form>
                </div>
            </div>	
        </div>
        <footer th:replace="~{fragments/layout :: footer}">
        </footer>
    </body>
</html>