<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${user.getNickname()}">User name</title>
	<link rel="stylesheet" th:href="@{/css/global.css}" type='text/css'>
    <link rel="stylesheet" th:href="@{/css/forms.css}" type='text/css'>
</head>
<body>
    <nav class="top_bar" th:replace="~{fragments/layout :: header(label=${user.getNickname()})}">
    </nav>
    <div id="basic">

    </div>
    <footer th:replace="~{fragments/layout :: footer}">
    </footer>
</body>
</html>